@font-face {
    font-family: AvenirNextLTProRegular;
    src: url(Assets/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: AvenirNextLTProBold;
    src: url(Assets/AvenirNextLTPro-Bold.otf);
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

img {
    display: flex;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

a {
    color: black;
}

h1 {
    font-family: 'AvenirNextLTProBold';
    color: black;
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.overlay_inner {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 1em;
}

.left {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    width: 250px;
    margin-left: 1em;
    padding-right: 1em;
    border-right: 2px;
    border-right-style: solid;
    border-color: rgb(62, 62, 62);
}

.right {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    margin-left: 1em;
}

.nameAndOccupation {
    margin-top: 2em;
    line-height: 1em;
}

.name {
    font-family: 'AvenirNextLTProBold';
    color: rgb(91, 91, 91);
    margin-top: -2em;
}

.occupation {
    font-family: 'AvenirNextLTProRegular';
    color: rgb(91, 91, 91);
    line-height: 9px;
}

.info {
    color: rgb(142, 142, 142);
    line-height: 9px;
    margin-top: -0.1em;
}

.infoValues {
    font-family: 'AvenirNextLTProRegular';
    color: rgb(142, 142, 142);
    line-height: 0px;
    margin-bottom: 2.5em;
}

.infoValuesBottom {
    font-family: 'AvenirNextLTProRegular';
    color: rgb(142, 142, 142);
    line-height: 2px;
}

.title {
    margin-top: 1.5em;
    margin-bottom: 0em;
    line-height: 9px;
}

.greenLine {
    width: 65px;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-color: rgb(82, 236, 202);
}

.aboutText {
    font-family: 'AvenirNextLTProRegular';
    font-size: 12pt;
    color: rgb(105, 105, 105);
    margin-right: -0.6em;
    /*margin-top: -0.5em;*/
}

.skillTable {
    font-family: 'AvenirNextLTProRegular';
    font-size: 12pt;
    display: flex;
    width: 290px;
    margin-left: -2.25em;
}

.skills {
    list-style-type: none;
    color: rgb(142, 142, 142);
    width: 290px;
}

.skill {
    display: flex;
    justify-content: space-between;
}

.categoryComponent {
    margin-bottom: 1.5em;
}

.experienceComponent {
    margin-bottom: -1.5em;
}

.experienceTitle {
    display: flex;
    justify-content: space-between;
    font-family: 'AvenirNextLTProRegular';
    font-size: 14pt;
    color: rgb(162, 162, 162);
    width: 480px;
    margin-top: 0.6em;
}

.experienceUnderTitle {
    display: flex;
    font-family: 'AvenirNextLTProRegular';
    font-size: 10pt;
    margin-Top: -2.5em;
    margin-bottom: 1em;
    color: rgb(120, 120, 120);
}

.experienceUnderTitle h3 {
    white-space: pre;
}

.experienceUnderTitle a {
    color: rgb(160, 160, 160);
}

.experienceList {
    font-family: 'AvenirNextLTProRegular';
    font-size: 12pt;
    margin-left: -1em;
    margin-top: -1.5em;
    max-width: 460px;
}

li span {
    color: rgb(91, 91, 91);
}